
body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

img {
  max-width:300px;
  width:50%;
}

pre, code {
  font-family: monospace, monospace;
  background-color: lightgreen;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
